{% extends "layout.html" %}
{% block title%}Documentation{% endblock title %}

{% block content %}
<div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5 my-5">
<div class="position-relative p-5 text-center text-muted bg-body  rounded-5 my-4">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-newspaper my-2" viewBox="0 0 16 16">
        <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5z"/>
        <path d="M2 3h10v2H2zm0 3h4v3H2zm0 4h4v1H2zm0 2h4v1H2zm5-6h2v1H7zm3 0h2v1h-2zM7 8h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2zm-3 2h2v1H7zm3 0h2v1h-2z"/>
      </svg>    <h1 class="text-body-emphasis">NewHub Documentation</h1>
      <h4 class="text-body-emphasis"> Your API Key:<span class="text-info"> {{api_key}}</span> </h4>
      <span class="text-danger">Please don't share your API Key!</span>
    <p class="col-lg-6 mx-auto mb-4">
        NewsHub API is a simple HTTP REST API for searching and retrieving live articles from all over the web.
    </p>
    <a href="https://documenter.getpostman.com/view/37120850/2sAYX8Kgsd" class="link-offset-2 link-underline link-underline-opacity-25">read more...</a>
  </div>
</div>

{% endblock content %}