{% extends "layout.html" %}
{% block title%}Politics News{% endblock title %}


{% block content %}

<div class="ms-4">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cpu-fill mb-2"
        viewBox="0 0 16 16">
        <path d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z" />
        <path
            d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5" />
    </svg>
    <span class="fs-4 ms-2">Politics News</span>
</div>
<div class="container px-4 py-5">
    <div class="row">

        {% for article in random|slice:"1" %}
        <div class="col-md-6">
            <div class="card shadow-sm h-100">
                <img src="{{ article.urltoimage }}" class="object-fit-fill rounded mx-auto d-block" alt="..."
                    height="280" width="610">
                <div class="card-body">
                    <p class="text-secondary card-text">{{ article.category }}</p>
                    <h5 class="text-body-emphasis card-text">{{ article.title }}</h5>
                    <p>{{ article.description }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{{ article.url }}" class="link-offset-2 link-underline link-underline-opacity-0">
                            <span>read more...</span>
                        </a>
                        {% if user.is_authenticated %}
                        <form action="{% url 'bookmarks' news_id=article.id %}" method="POST" id="bookmarkForm">
                            {%csrf_token%}
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                onclick="showAlert()" class="bi bi-bookmark" viewBox="0 0 16 16">
                                <path
                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
                            </svg>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="col-md-6">
            <p class="ms-4 text-secondary fs-5">Trending in Politics</p>
            <div class="list">

                {% for article in random|slice:"1:4" %}
                <div class="col d-flex align-items-start">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-dot"
                        viewBox="0 0 16 16">
                        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
                    </svg>
                    <div>
                        <a href="{{ article.url }}">
                            <p class="fs-5">{{ article.title }}</p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container px-4 py-5" id="latest-news">
    <h2 class="pb-2 border-bottom">Latest In Politics</h2>
    <div class="row g-4 row-cols-1 row-cols-md-2 row-cols-lg-3">
        {% for article in today %}
        <div class="col">
            <div class="card shadow-sm h-100">
                <img src="{{ article.urltoimage }}" class="object-fit-fill rounded mx-auto d-block" alt="..."
                    height="250" width="400">
                <div class="card-body">
                    <p class="text-secondary card-text">{{ article.category }}</p>
                    <h5 class="text-body-emphasis card-text">{{ article.title }}</h5>
                    <p>{{ article.description }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{{ article.url }}" class="link-offset-2 link-underline link-underline-opacity-0">
                            <span>read more...</span>
                        </a>
                        {% if user.is_authenticated %}
                        <form action="{% url 'bookmarks' news_id=article.news_id %}" method="POST" id="bookmarkForm">
                            {%csrf_token%}
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                onclick="showAlert()" class="bi bi-bookmark" viewBox="0 0 16 16">
                                <path
                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
                            </svg>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock content %}